@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&family=Source+Sans+Pro:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #Ffefe8;
  padding-left: 12px;
  padding-right: 12px;
  font-family: 'Roboto', sans-serif;
}